/* Initial style for entire page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set entire body to flex and column direction to help organize better */
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* temporary border */
    border: 1px solid orange;
}

/* Temporary header border to make styling easier */
header {
    border: 1px dashed black;
}

/* Set nav to flex and set in top right corner */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dashed red;
    padding: 10px;
}

nav > h1 {
    margin-right: auto;
    font-size: 24px;
}

/* Set unordered list to flex to help separate it from text logo */
ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    border: 1px solid black;
}

li,
a {
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}

/* Set main-header class to flex and center content */
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px dashed blue;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 50%;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid black;
}

.header-right {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
    border: 1px solid black;
}

.header-right > img {
    width: 400px;
    height: auto;
}