/* Initial style for entire page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set entire body to flex and column direction to help organize better */
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* temporary border */
    border: 1px solid orange;
}

.header-background {
    background-color: #1F2937;
}

/* Temporary header border to make styling easier */
header {
    border: 1px dashed black;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* Set nav to flex and set in top right corner */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 75%;
    border: 1px dashed red;
    padding: 10px;
}

nav > h1 {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

/* Set unordered list to flex to help separate it from text logo */
ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    border: 1px solid black;
}

li,
a {
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}

/* Set main-header class to flex and center content */
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px dashed blue;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 50%;
    flex-wrap: wrap;
    gap: 10px;
    color: #F9FAF8;
    border: 1px solid black;
}

.header-left > p {
    font-size: 20px;
}

.header-right {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
    border: 1px solid black;
}

.header-right > img {
    width: 400px;
    height: auto;
}

button {
    background-color: #2882F6;
    border: 2px solid white;
    color: white;
    width: 125px;
    height: 50px;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

.body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border: 1px solid gray;
}

.information-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 1 100%;
    min-height: 25%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 50px 25px;
    border: 1px solid green;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #1F2937;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border: 2px solid pink;
}

.box-and-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 5px;
    width: 200px;
    color: #1F2937;
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid #2882F6;
    border-radius: 25px;
}

.box-and-text > p {
    font-size: 20px;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    border: 1px solid green;
    padding: 100px 50px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.quote-section > h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-background-color {
    background-color: #E5E7EB;
}

.call-action-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background-color: #2882F6;
    border-radius: 5px;
    padding: 20px 50px;
    gap: 50px;
    margin: 50px 100px;
    border: 1px solid green;
    font-size: 24px;
}

.button {
    display: flex;
    align-items: flex-end;
}

.call-action-text {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}